.woocommerce-checkout-review-order-table {
	td.product-name {
		border: 2px solid var(--color-theme--green);

		a.remove {
			float: right;
		}
	}
}

#e_deliverydate_field {
	margin-bottom: 3em;
}

body.deliveryHidden {
	ul#shipping_method li:first-of-type {
		visibility: hidden !important;
		position: absolute;
		text-indent: -9999px;
	}
}

body.collectHidden {
	ul#shipping_method li:last-of-type {
		visibility: hidden !important;
		position: absolute;
		text-indent: -9999px;
	}
}