.woocommerce-info,
.woocommerce-noreviews,
p.no-comments,
.demo_store {
	background-color: var(--color-theme--green);
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
	margin: 0;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 10;
}
