body.single-product {
	.content-area {
		width: unset;
		float: unset;
		margin: unset;
	}

	.storefront-breadcrumb {
		padding: 2em 0;
	}

	.product {
		.entry-summary {
			color: white;
			background: var(--color-theme--darkgreen);
			padding: 1em;

			@media screen and (min-width: 1024px) {
				padding: 2em;
			}

			a {
				color: white;
				transition: .3s ease;
			}

			h1.product_title {
				color: white;
			}

			.wcpa_price_summary {
				background: none;
			}

			.wcpa_paragraph_block {
				margin-bottom: 1.6em;
			}

			span.required_ast {
				color: lightcoral;
				padding: 0 2px;
			}

			.qib-container {
				background: white;
			}

			.product_meta a {
				color: white;
			}

			.button.alt {
				background-color: white;
				color: var(--color-theme--darkgreen);

				&:hover {
					color: var(--color-theme--green);
					background-color: var(--color-bg--grey);
				}
			}

			.a2a_kit {
				path {
					fill: white;
				}
			}

			.edit-link a {
				color: white;
			}
		}
	}
}
