/*
 Theme Name:   Christmas Tree Farm
 Theme URI:    christmastreefarm.melbourne
 Description:  Christmase Tree Farm theme
 Author:       James
 Template:     storefront
 Version:      1.0.0
 License:      GNU General Public License v2 or late2
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, two-columns, left-sidebar, responsive-layout, accessibility-ready
 Text Domain:  christmastreefarm
*/

/* Variables - Mixins */

@import "variables/colors";

/* Typography */

@import "typography/headings";
@import "typography/font";

/* Site */

@import "site/header";
@import "site/body";
@import "site/content";
@import "site/layout";

/* Navigation */

@import "navigation/links";
@import "navigation/menus";
@import "navigation/breadcrumb";

/* Pages */

@import "pages/front-page";
