/* Hero image section
@media (max-width: 568px) {
	.aligncol {
		margin-left: -2.8315em;
		margin-right: -2.8315em;
		width: auto;
		padding: 0;
	}
}

@media screen and (min-width: 66.4989em) {
	.aligncol {
		margin-left: -2.617924em;
		margin-right: -2.617924em;
	}
}
*/