.commercial-columns {
	.commercial-content {
		background-color: var(--color-theme--darkgreen);
		color: white;
		padding: 1em;

		fieldset {
			padding: 0;
			background: none;
		}
	}
}

@media screen and (max-width: 568px) {
	.commercial-columns {
		select,
		input {
			max-width: 250px;
		}
	}
}

@media screen and (max-width: 1023px) {
	.commercial-columns {
		display: flex;
		flex-flow: column;
	}
}

@media screen and (min-width: 768px) {
	.commercial-columns {

		.commercial-content {
			padding: 2em;

			fieldset {
				select,
				input {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.commercial-columns {
		.wp-block-column:first-of-type {
			margin-right: 0 !important;
		}
	}
}
