.order-form {
	ul {
		list-style: none;
		margin: 2em 0;
		padding: 2em;
		border: 1px solid var(--color-bg--grey);
		background-color: white;

		li {
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			align-items: baseline;
			margin-bottom: 1em;
			border-bottom: 1px solid var(--color-bg--grey);

			span {
				input {
					background: none;
					border: none;
					box-shadow: none;
					width: 100px;
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.wholesale-form {
		ul {
			width: 48%;
		}

		.wholesale-ga {
			display: inline-block;
		}

		.wholesale-gb {
			float: right;
		}
	}
}