.sfb-footer-bar {
	h2.widget-title {
		text-align: center;
	}
	form.contact-form {
		.grunion-field-label {
			display: none !important;
		}

		.contact-submit {
			clear: both;
			text-align: center;
		}

		input[type="text"],
		input[type="email"] {
			margin-bottom: 0.4em;
		}
	}
}

@media screen and (min-width: 768px) {
	.sfb-footer-bar {
		form.contact-form {
			div:first-of-type {
				float: right;
				width: 48%;
			}

			div:nth-child(1n + 2) {
				float: left;
				width: 50%;
			}
		}
	}
}

