.sfb-footer-bar {
	h2.widget-title {
		text-align: center;
	}

	form {
		.contact-submit {
			text-align: center;
			margin: 2em 0;
		}
	}
}

@media screen and (min-width: 768px) {
	.sfb-footer-bar {
		form {
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
			justify-content: space-between;

			.contact-fields {
				flex-basis: 49%;

				input {
					width: 100%;
				}
			}

			.contact-message {
				flex-basis: 49%;

				input {
					width: 100%;
				}
			}

			.contact-submit {
				flex-basis: 100%;
			}
		}
	}
}
