/* Content */
.wc-block-grid {
	padding-right: 8px;
}

// Full width header area for other pages
body.page {
	header.entry-header {
		background-color: var(--color-theme--green);
		text-align: center;
		margin-left: -1.41575em;
		margin-right: -1.41575em;

		h1 {
			color: white;
			padding: 1rem 0;
		}
	}

	@media screen and (min-width: 66.4989em) {
		header.entry-header {
			margin-left: -2.617924em;
			margin-right: -2.617924em;
		}
	}
}
