@media (max-width: 568px) {
	.aligncol {
		margin-left: -2.8315em !important;
		margin-right: -2.8315em !important;
		width: auto !important;
		padding: 0 !important;
	}
}

@media screen and (min-width: 66.4989em) {
	.aligncol {
		margin-left: -2.617924em !important;
		margin-right: -2.617924em !important;
		padding: 0 !important;
	}
}

.no-gap .wp-block-column {
	margin-right: 0 !important;
}

.no-gap {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
