:root {
	--color-bg--body: #fff;
	--color-bg--dark: #262626;
	--color-bg--grey: #e3e3e3;
	--color-border--grey: #f7f7f7;
	--color-theme--green: #3fc35f;
	--color-theme--darkgreen: #29573b;
	--color-text--header: #272727;
	--color-text--link: #575757;
	--color-text--body: #727272;
	--color-text--light: #fff;
}