// Footer bar contact form
@media screen and (min-width: 768px) {
	.sfb-footer-bar {
		form.contact-form {
			div:first-of-type {
				float: right;
				width: 48%;
			}

			div:nth-child(1n + 2) {
				float: left;
				width: 50%;
			}

			.grunion-field-label {
				display: none;
			}

			.contact-submit {
				clear: both;
				text-align: center;
			}

			input[type="text"],
			input[type="email"] {
				margin-bottom: 0.4em;
			}
		}
	}
}

// Contact form 7 - wholesale
.wholesale-form {
	ul {
		list-style: none;
		margin: 2em 0;
		padding: 2em;
		border: 1px solid var(--color-bg--grey);
		background-color: white;

		li {
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			align-items: baseline;
			margin-bottom: 1em;
			border-bottom: 1px solid var(--color-bg--grey);

			span {
				input {
					background: none;
					border: none;
					box-shadow: none;
					width: 100px;
				}
			}
		}
	}
}