// Single line price display
.pricep_parent {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-border--grey);
	margin-bottom: 1.6em;
	margin-left: 5px;
	margin-right: 5px;

	.pricep {
		margin-bottom: 0;
	}
}

// Border
.border--bottom {
	border-bottom: 1px solid var(--color-border--grey);
	padding-bottom: .5em;
	margin-bottom: 1.5em;
}

.option-underline_parent {
	@media screen and (max-width: 1023px) {
		.wcpa_price {
			background-color: var(--color-border--grey);
			border-top: 1px solid var(--color-text--body);
			padding: .3em 0;
			margin-top: .2em;
		}
	}

	@media screen and (min-width: 1024px) {
		border-bottom: 1px solid var(--color-border--grey);
		padding-bottom: .5em;
		margin-bottom: 1.5em;
	}
}


// Bottom margins
.mb0 {
	margin-bottom: 0;

	@media screen and (min-width: 768px) {
		> div {
			margin-bottom: 0 !important;
		}
	}
}

.mb1 {
	margin-bottom: 1.5em;
}

.mb2 {
	margin-bottom: 2em;
}

.mb3 {
	margin-bottom: 3em;
}

// Narrow columns
.col-narrow {
	max-width: 46em;
	margin: 0 auto;
}