/* Breadcrumb */
.storefront-breadcrumb {
	margin-bottom: 0;
	background-color: white;

	.col-full {
		margin: 0;
		padding: 0;
	}
}

// Hide breadcrumbs
.page-id-252,
.page-id-254,
.page-id-87 {
	.storefront-breadcrumb {
		position: absolute;
		z-index: 5;
		background: none;
		color: white;

		a {
			color: white !important;
		}

		span::after {
			color: white !important;
			opacity: .8;
		}
	}
}