/* Handheld menu */
.storefront-hamburger-menu-active
	.main-navigation.toggled
	.handheld-navigation {
	overflow: auto;
}

#menu-handheld-menu .a2a_kit {
	display: flex;

	> a {
		padding: 10px;
	}
}

.storefront-hamburger-menu-active .shm-close {
	background-color: var(--color-theme--darkgreen);
	color: white;
}

/* Primary nav */
.site-header ul.menu li.current-menu-item {
	> a {
		color: #29573b;
	}
}

.site-header ul#menu-primary-menu li.menu-item > a:hover {
	border-top: 2px solid #29573b;
	border-bottom: 2px solid #29573b;
	color: #29573b;
	margin-top: -2px;
	margin-bottom: -2px;
}
